body { /*all about default text*/
    font-family: OpenSans, Helvetica, sans-serif;
    font-weight: normal;
    background: #b3b3b3;
    color: #000;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: #CC0000;
}

li {
    list-style-type: none;
}